#create {
    background-color:#13141f;
    height: 345px;
    .create {
    padding: 30px 0;
    animation: create 1.5s forwards;
    }
    h1 {
        padding: 0 30px;
        color: white;
    }
}
.all-create {
    display: flex;
    gap: 50px;
    padding: 40px 30px;
    animation: all 1.5s forwards;
    img {
        height: 64px;
        width: 64px;
        border-radius: 15px;
    }
    h3 {
        color: white;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    p {
        color: #9c9c9c;
        font-size: 12px;
        line-height: 20px;
    }
}