#header{
    margin-top: 15px;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    animation: header 1s forwards;
}
.axies{
    display: flex;
    align-items: center;
    gap: 2px;
}
.axies img{
    width: 140px;
}
.search{
    display: flex;
    align-items: center;
    gap: 20px;
}
.search button{
    
    border-color: rgb(102, 46, 158);
    font-size: 15px;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 7px;
    background: rgb(42, 42, 48);
    border-radius: 25px;
    color: white;
}

.search img{
    width: 30px;
}

.day{
    display: flex;
    gap: 20px;
    .sun{
        background: gray;
    }
    .moon{
        background: gray;
    }
}
.day img{
    width: 40px;
    border-radius: 10px;
}
.nav {
    color: white;
    display: flex;
    align-items: center;
    gap: 20px
}
.nav a{
    color: white;
    font-size: 15px;
}
.nav img{
    width: 10px;
    margin-left: 7px;
    
}