#hero{
    color: white;
}

.hero{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}
.hero img{
    width: 500px;
}
.hero-text{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hero-text h1{
    font-size: 44px;
    line-height: 60px;
}
.hero-text p{
    font-size: 16px;
}
.hero-text span{
  color:#3e009c
}
.btns{
    display: flex;
    align-items: center;
    gap: 20px;
}
.btns img{
    width: 20px;
}
.btns button{
    padding: 12px;
    width: 120px;
    border-radius: 25px;
}
.btn1{
    display: flex;
    color: white;
    align-items: center;
    background: #13141f;
    gap: 10px;
    border-color: blueviolet;
}
.btn2{
    display: flex;
    align-items: center;
    gap:10px;
    background: #fff;
    color: rgb(128, 181, 22);
}