@import "./reset.css";
@import "./vars.css";
@import "./create.css";
@import "./footer.css";
@import "./hero.css";
@import "./auction.css";
@import "./seller.css";
@import "./animation.css";
@import "./header.css";
@import "./picks.css";
@import "./popular.css";
@import "./footer.css";
@import "./media.css"