@import "./reset.css";
@import "./vars.css";
@import "./create.css";
@import "./footer.css";
@import "./1section.css";
@import "./2section.css";
@import "./3\ section.css";
@import "./animation.css";
@import "./header.css";
@import "./picks.css";
@import "./popular.css";
