button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}
.today{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 50px 0 10px 0;
  animation: pick 1.5s forwards;
  h1{
  font-size: 35px;
  font-weight: 600;
  }
  button{
  font-size: 15px;
  border: none;
  color: white;
  background: rgb(18, 0, 39);
  border-bottom: 2px solid;
  padding: 5px 0;
  transition: 0.7s;
  }
  button:hover{
    color: royalblue;

  }
}

.up-hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  animation: up 1.5s forwards;
  button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 10px;
  border-radius: 30px;
  color: white;
  background: rgb(18, 0, 39);
  border: 1px solid white;
  gap: 5px;
  transition: 0.7s;
  }
  button:hover{
  color: rgb(18, 0, 39);
  background: white;
  }
  .left-uphero{
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.cart-all{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
.cart {
  width: 280px;
  height: 400px;
  background: rgb(43, 45, 63);
  padding: 10px;
  border-radius: 16px;
  animation: cart 2s ease-out;
  .img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      width: 255px;
      height: 255px;
      border-radius: 10px;
    }
    .heart{
    position: absolute;
    top: 10px;
    right: 22px;
    button{
      padding: 4px 8px;
      border-radius: 6px;
      border: none;
      color: rgb(255, 255, 255);
      background: rgb(0, 0, 0);
      ion-icon:active{
      color: red;
      }
    }
    }
  }
  .name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px 15px 10px;
    h1 {
      font-weight: 500;
      font-size: 16px;
      color: rgba(236, 234, 234, 0.999);
      transition: 0.7s;
    }
    h1:hover{
      color: rgb(92, 6, 179);
    }
    button {
      padding: 4px 8px;
      border-radius: 6px;
      border: none;
      color: rgb(255, 255, 255);
      background: rgb(92, 6, 179);
      transition: 0.7s;
    }
    button:hover{
      background: rgb(255, 255, 255);
      color: rgb(92, 6, 179);
    }
  }
  .midle-inf {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    .left-img {
      img {
        width: 30px;
        height: 30px;
        border-radius: 8px;
      }
    }
    .midle-com{
    h2{
      padding: 0 25px 0 0;
    font-size: 12px;
    color: rgba(134, 134, 134, 0.903);
    span{
    font-size: 14px;
    color: rgba(211, 210, 210, 0.922);
    transition: 0.7s;
    }
    span:hover{
    color: rgb(92, 6, 179);
    }
    }
    }
    .right-com{
    h2{
    font-size: 11px;
    color: rgba(134, 134, 134, 0.903);
    span{
    font-size: 14px;
    color: rgb(219, 219, 219);
    }
    }
    }
  }
  .end-cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    button{
      padding: 6px 12px;
      border-radius: 25px;
      color: rgba(236, 234, 234, 0.999);
      background: rgba(128, 128, 128, 0);
      border: 1px solid rgb(92, 6, 179);
      transition: 1s;
    ion-icon{
      color: white;
    }
    }
    button:hover{
      color:  rgb(92, 6, 179);
      background: white;
      ion-icon{
        color:  rgb(92, 6, 179);
      }
    }
    h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    color: rgba(134, 134, 135, 0.801);
    transition: 0.7s;
    ion-icon{
        color: azure;
    }
    }
    h3:hover{
      color:  rgb(92, 6, 179);
    }
  }
}
.baby {
  width: 280px;
  height: 340px;
  background: rgb(43, 45, 63);
  padding: 10px;
  border-radius: 16px;
  margin-bottom: 40px;
  animation: baby 2s ease-out;
  .img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      width: 250px;
      height: 250px;
      border-radius: 10px;
    }
    .heart{
    position: absolute;
    top: 10px;
    right: 25px;
    button{
      padding: 4px 8px;
      border-radius: 6px;
      border: none;
      color: rgb(255, 255, 255);
      background: rgb(0, 0, 0);
      ion-icon:active{
      color: red;
      }
    }
    }
    .btn-yell{
      position: absolute;
      top: 10px;
      left: 25px;
      button{
        padding: 6px 16px;
        background: orange;
        border: none;
        font-size: 15px;
        font-weight: 500;
        border-radius: 16px;
        transition: 0.7s;
      }
      button:hover{
        color: orange;
        background: black;
      }
    }
  }
  .name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    h1 {
      font-weight: 500;
      font-size: 16px;
      color: rgb(255, 255, 255);
      transition: 0.7s;
    }
    h1:hover{
      color: rgb(92, 6, 179);
    }
    button {
      padding: 4px 8px;
      border-radius: 6px;
      border: none;
      color: rgb(255, 255, 255);
      background: rgb(92, 6, 179);
      transition: 0.7s;
    }
    button:hover{
      color: rgb(92, 6, 179);
      background: rgb(255, 255, 255);
    }
  }
  .midle-inf {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    .left-img {
      img {
        width: 30px;
        height: 30px;
        border-radius: 8px;
      }
    }
    .midle-com{
    h2{
    padding: 0 45px 0 0;
    font-size: 12px;
    color: rgba(134, 134, 134, 0.903);
    span{
    font-size: 14px;
    color: rgba(211, 210, 210, 0.922);
    transition: 0.7s;
    }
    span:hover{
      color: rgb(92, 6, 179);
    }
    }
    }
    .right-com{
    h2{
    font-size: 11px;
    color: rgba(134, 134, 134, 0.903);
    span{
    font-size: 14px;
    color: rgb(219, 219, 219);
    }
    }
    }
  }
}
}

.down-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  button{
    margin: 40px 0;
    font-size: 20px;
    font-weight: normal;
    padding: 10px 22px;
    border-radius: 30px;
    color: white;
    background: none;
    border-color: white;
    transition: 0.7s;
  }
  button:hover{
    color: rgb(92, 6, 179);
    background: white;
  }
}

