* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
.container {
  width: 1320px;
  margin: 0 auto;
}

body{
    background: rgb(42, 42, 48);
    background-color:#13141f;
}
