* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
.container {
  max-width: 100%;
  margin: 0 auto;
}

body{
    background: rgb(42, 42, 48);
    background-color:#13141f;
}